[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = Bridget Lane
	email = bnlane@gannett.com
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	glog = log --graph --decorate --oneline --all
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[push]
	default = simple
[core]
	excludesfile = /Users/bnlane/.gitignore_global
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
	autocrlf = input
	editor = vim
[commit]
	template = /Users/bnlane/.gitmessage.txt
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg]
	program = gpg1
